<div class="container">
        
    <div class="row">

        <div class="col-md-12">
            <p>lol</p>    
        </div>
            
    </div>

	<div class="row">
		<div class="col-md-12">
			<h3>Customer Info</h3>
		</div>
	</div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <table class="table">
                    <tbody>
                    	<tr>
                            <th scope="row"><%= translate("gender") %></th>
                            <td>
                                <select name="contact-info-gender" id="contact-info-gender" class="form-control-cm">
                                    <option value="false" selected="selected"></option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("maritalStatus") %></th>
                            <td>
                                <select id="contact-info-marital-status" class="form-control-cm">
                                    <option value="none" selected="selected"></option>
                                    <option value="single">Single</option>
                                    <option value="married">Married</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("numberOfChildren") %></th>
                            <td>
                                <select id="contact-info-number-of-children" class="form-control-cm">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    	</div>
    	<div class="col-md-6">
    		<div class="panel panel-default">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row"><%= translate("mailingAddressDifferent") %></th>
                            <td>
                                <select id="contact-info-mailing-address-different" class="form-control-cm">
                                    <option value="false" selected="selected">NO</option>
                                    <option value="true">YES</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("healthInsurance") %></th>
                            <td>
                                <select id="contact-info-health-insurance-checkbox" class="form-control-cm">
                                    <option value="false" selected="selected">NO</option>
                                    <option value="true">YES</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("homeInsurance") %></th>
                            <td>
                                <select id="contact-info-home-insurance-checkbox" class="form-control-cm">
                                    <option value="false" selected="selected">NO</option>
                                    <option value="true">YES</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("autoInsurance") %></th>
                            <td>
                                <select id="contact-info-auto-insurance-checkbox" class="form-control-cm">
                                    <option value="false" selected="selected">NO</option>
                                    <option value="true">YES</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    	</div>
    </div>
    	
	<div class="row">
		<div class="col-md-6">
            <div class="panel panel-default">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row"><%= translate("lifeInsurance") %></th>
                            <td>
                                <select id="contact-info-life-insurance-checkbox" class="form-control-cm">
                                    <option value="false" selected="selected">NO</option>
                                    <option value="true">YES</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("ancilliaryInsurance") %></th>
                            <td>
                                <select id="contact-info-ancilliary-insurance-checkbox" class="form-control-cm">
                                    <option value="false" selected="selected">NO</option>
                                    <option value="true">YES</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("otherPolicySold") %></th>
                            <td>
                                <select id="contact-info-other-policy-sold" class="form-control-cm">
                                    <option value="">Get Info</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("federalDoNotCall") %></th>
                            <td>
                                <select id="contact-info-federal-do-not-call" class="form-control-cm">
                                    <option value="">Get Info</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("doYouOwnYourHome") %></th>
                            <td>
                                <select id="contact-info-federal-do-not-call" class="form-control-cm">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("renewAsIsEmailReceived") %></th>
                            <td>
                                <select id="contact-info-renew-as-is-email-received" class="form-control-cm">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("usCitizenOrLegalPermanentResident") %></th>
                             <td>
                                <select id="health-us-citizen-or-legal-permanent-resident" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    	</div>
	</div>
	
    <div class="row">
    	<div class="col-md-6">
    		<div class="panel panel-default">
    			<table class="table">
    				<tbody>
    					<tr>
                            <th scope="row"><%= translate("autoPriorityCode") %></th>
                            <td>
                                <select id="health-auto-priority-code" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("leadType") %></th>
                            <td>
                                <select id="health-lead-type" class="form-control-cm">
                                    <option value="none" selected="selected"></option>
                                    <option value="healthinsurance">Health Insurance</option>
                                    <option value="homeownersInsurance">Homeowners Insurance</option>
                                    <option value="autoInsurance">Auto Insurance</option>
                                    <option value="lifeInsurance">Life Insurance</option>
                                    <option value="ancilliary">Ancilliary</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("priorityCode") %></th>
                             <td>
                                  <select id="health-priority-code" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("leadSource") %></th>
                             <td>
                                  <select id="health-lead-source" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("healthLeadStatus") %></th>
                            <td>
                                <select id="health-lead-status" class="form-control-cm">
                                    <option value="false" selected="selected"></option>
                                    <option value="presold">Presold</option>
                                    <option value="enrolled">Enrolled</option>
                                    <option value="bound">Bound</option>
                                    <option value="active">Active</option>
                                    <option value="submitted">Submitted</option>
                                    <option value="sold">Sold</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("healthWritingAgent") %></th>
                             <td>
                                <select id="health-writing-agent" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("writingAgent") %></th>
                             <td>
                                  <input type="text" id="health-writing-agent" class="form-control-cm">
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("scrubber") %></th>
                             <td>
                                <select id="health-scrubber" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
    				</tbody>
    			</table>
    		</div>
    	</div>
    	<div class="col-md-6">
        	<br>
		    <h3>Current Job Income Info</h3>
		    <hr>
            <div class="panel panel-default">
                <table class="table">
                    <tbody>
                    	<tr>
                             <th scope="row"><%= translate("maritalStatus") %></th>
                             <td>
                                <select id="health-marital-status" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("numberOfDependentChildrenInHouse") %></th>
                             <td>
                                <select id="health-number-of-dependent-children-in-house" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
	        <h3>2016 Processed Information</h3>
	        <hr>
	        <div class="panel panel-default">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row"><%= translate("renewalSource2016") %></th>
                            <td>
                                <select id="health-renewal-source-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("renewalAgent2016") %></th>
                            <td>
                                <select id="health-renewal-agent-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("presoldProcessor2016") %></th>
                            <td>
                                <select id="health-presold-processor-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("marketplacePolicy2016") %></th>
                            <td>
                                <select id="health-presold-processor-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("verificationDocumentsNeeded2016") %></th>
                            <td>
                                <select id="health-verification-documents-needed-2016" class="form-control-cm" multiple>
                                    <option value="">FILL</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
	        <h3>2016 Plan Selection</h3>
	        <hr>
	        <div class="panel panel-default">
                <table class="table">
                    <tbody>
                    	<tr>
                             <th scope="row"><%= translate("adultsApplyingForCoverage2016") %></th>
                             <td>
                                <select id="health-adults-applying-for-coverage-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                            <th scope="row"><%= translate("totalHouseholdSize2016") %></th>
                            <td>
                                <select id="health-total-household-size-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("childrenApplyingForCoverage2016") %></th>
                             <td>
                                <select id="health-children-applying-for-coverage-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
	        <h3>2015 Contact Info</h3>
	        <hr>
	        <div class="panel panel-default">
                <table class="table">
                    <tbody>
                        <tr>
                             <th scope="row"><%= translate("leadHasAMarketplaceAccount") %></th>
                             <td>
                                <select id="health-lead-has-a-marketplace-account" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("currentCoverage") %></th>
                             <td>
                                <select id="health-current-coverage" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
	        <h3>2015 Plan Selection</h3>
	        <hr>
            <div class="panel panel-default">
                <table class="table">
                    <tbody>
                    	<tr>
                             <th scope="row"><%= translate("healthCarrier2015") %></th>
                             <td>
                                <select id="health-carrier-2015" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("adultsOnPlan2015") %></th>
                             <td>
                                <select id="health-adult-on-plan-2015" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("childrenOnPlan2015") %></th>
                             <td>
                                <select id="health-children-on-plan-2015" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("incomeVerificationNeeded") %></th>
                             <td>
                                <select id="health-income-verification-needed-2015" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("citizenshipDocumentsNeeded") %></th>
                             <td>
                                <select id="health-citizenship-documents-needed-2015" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("agentCode") %></th>
                             <td>
                                <select id="health-contact-code-2015" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                        <tr>
                             <th scope="row"><%= translate("wantsToRenewSamePlanFor2016") %></th>
                             <td>
                                <select id="health-wants-to-renew-same-plan-for-2016" class="form-control-cm">
                                    <option value="">FILL</option>
                                </select>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        
    </div>





</div>