<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title"><%= translate("allTasks") %></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5 class="pull-right">Total <p id="all-tasks-count">21</p></h5>
            </div>
        </div>
         
        <table id="tasks-list" class="table">
            <thead>
                <tr>
                    <th><%= translate("label") %></th>
                    <th><%= translate("title") %></th>
                    <th><%= translate("status") %></th>
                    <th><%= translate("uuid") %></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="no-tasks"></div>
        <div class="text-center">
            <div class="pagination">
                <ul id='all-tasks-pagination' class="pagination">

                    <!-- digame algo -->
                    
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">6</a></li>
                    <li><a href="javascript:;">7</a></li>
                    <li><a href="javascript:;">8</a></li>
                    <li><a href="javascript:;">9</a></li>
                    <li><a href="javascript:;">10</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>