<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title"><%= translate("allTasks") %></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5 class="pull-right"><%= translate("total") %> <p id="all-tasks-count">0</p></h5>
            </div>
        </div>
         
        <table id="tasks-list" class="table">
            <thead>
                <tr>
                    <th><%= translate("label") %></th>
                    <th><%= translate("title") %></th>
                    <th><%= translate("status") %></th>
                    <th><%= translate("uuid") %></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="no-tasks"></div>
        <div class="text-center">
            <div class="pagination">
                <ul id='all-tasks-pagination' class="pagination"></ul>
            </div>
        </div>
    </div>
</div>