<li class="list-group-item">
    <i class="fa fa-random fa-2x pull-left"></i>
    <ul class="list-inline pull-right">
        <li>
            <i class="fa fa-star fa-fw"></i> 0
        </li>
        <li>
            <i class="fa fa-check fa-fw"></i> 0
        </li>
    </ul>

    <h4 class="list-group-item-heading"><a class="inbound-campaign-popup"><%= name %></a></h4>

    <p class="description">
        <%= description %>
    </p>

    <p class="updated-at text-muted">
        Last updated <time datetime="2014-08-22T09:20:51-07:00" is="relative-time" title="Aug 22, 2014 10:20 AM MDT">23 minutes ago</time>
    </p>

    <button class="btn btn-primary">Voicemail</button>

</li>