<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("settings") %></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><%= translate("attendees") %></th>
                                        <td>
                                            <select id="create-outbound-campaign-attendees" class="form-control-cm">
                                                <option value="">-- SELECT --</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("timeBetweenCalls") %></th>
                                        <td>
                                            <select id="create-outbound-campaign-time-between-calls-hours" class="form-control-cm">
                                                <option value="">-- SELECT --</option>
                                            </select>
                                            <p>hours</p>
                                            <select id="create-outbound-campaign-time-between-calls-minutes" class="form-control-cm">
                                                <option value="">-- SELECT --</option>
                                            </select>
                                            <p>minutes</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("defaultScript") %></th>
                                        <td>
                                            <textarea id="create-outbound-campaign-default-script" rows="5"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><%= translate("callerId") %></th>
                                        <td>
                                            <input type="text" id="create-outbound-campaign-callerid" name="agent_first_name" class="form-control-cm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("agentTimeBetweenCalls") %></th>
                                        <td>
                                            <select id="create-outbound-campaign-agent-time-between-calls-hours" class="form-control-cm">
                                                <option value="">-- SELECT --</option>
                                            </select>
                                            <p>hours</p>
                                            <select id="create-outbound-campaign-agent-time-between-calls-minutes" class="form-control-cm">
                                                <option value="">-- SELECT --</option>
                                            </select>
                                            <p>minutes</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("description") %></th>
                                        <td>
                                            <textarea id="create-outbound-campaign-description" rows="5"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="panel-footer">
                    <button id="get-export-btn" class="btn btn-success btn-block" type="submit"><%= translate("exportCSV") %></button>
                </div> -->
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("queries") %></h3>
                </div>
                <div class="panel-body">
                    <h4>Local Settings</h4>
                    <p>The campaign will not dial outside of these hours, based on the timezone assiciated with the contacts, area code and prefix.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="transfer_digit"><%= translate("from") %></label>
                                <select class="form-control-cm" id="transfer_digit" name="transfer_digit">
                                    <option value="8a">8:00 AM</option>
                                    <option value="9a" selected>9:00 AM</option>
                                    <option value="10a">10:00 AM</option>
                                    <option value="11a">11:00 AM</option>
                                    <option value="12a">12:00 AM</option>
                                    <option value="1p">1:00 PM</option>
                                    <option value="2p">2:00 PM</option>
                                    <option value="3p">3:00 PM</option>
                                    <option value="4p">4:00 PM</option>
                                    <option value="5p">5:00 PM</option>
                                    <option value="6p">6:00 PM</option>
                                    <option value="7p">7:00 PM</option>
                                    <option value="8p">8:00 PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="transfer_digit"><%= translate("to") %></label>
                                <select class="form-control-cm" id="transfer_digit" name="transfer_digit">
                                    <option value="1p">1:00 PM</option>
                                    <option value="2p">2:00 PM</option>
                                    <option value="3p">3:00 PM</option>
                                    <option value="4p">4:00 PM</option>
                                    <option value="5p selected">5:00 PM</option>
                                    <option value="6p">6:00 PM</option>
                                    <option value="7p">7:00 PM</option>
                                    <option value="8p">8:00 PM</option>
                                    <option value="9p">9:00 PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("filters") %></h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                
                <li><a href="#all-campaigns-tab" data-toggle="tab"><%= translate("all") %></a></li>
                <li><a href="#paused-campaigns-tab" data-toggle="tab"><%= translate("paused") %></a></li>
                <li><a href="#inbound-campaigns-tab" data-toggle="tab"><%= translate("inbound") %></a></li>
                <li><a href="#outbound-campaigns-tab" data-toggle="tab"><%= translate("outbound") %></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="all-campaigns-tab"></div>
                <div class="tab-pane" id="active-campaigns-tab"></div>
                <div class="tab-pane" id="paused-campaigns-tab"></div>
                <div class="tab-pane fade active in" id="inbound-campaigns-tab"></div>
                <div class="tab-pane" id="outbound-campaigns-tab"></div>
            </div>
        </div>
    </div>
</div>

<!-- task Modal popup -->
<div class="modal fade" id="inboundCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content margin-inboundcampaign-cm">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><%= translate("newInboundCampaign") %></h4>
            </div>
            <div class="modal-body">

                <p>Automated Call Distribution systems are used for distributing phone calls and other contact types to campaign agents and employees at your business.</p>

                <div class="row">
                    <form id="create-inbound-campaign-modal-form" class="form-profile" novalidate="novalidate">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->

                                <!-- Table -->
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row"><%= translate("name") %></th>
                                            <td id="inbound-name"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("timeout") %></th>
                                            <td>
                                                <input type="text" id="inbound-timeout" name="inbound_timeout" class="form-control-cm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("recordAudio") %></th>
                                            <td>
                                                <select name="inbound_recording" id="inbound-recording" class="form-control-cm">
                                                    <option value="yes" selected>yes</option>
                                                    <option value="no">no</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("retry") %></th>
                                            <td>
                                                <input type="text" id="inbound-retry" name="inbound_retry" class="form-control-cm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("wrapuptime") %></th>
                                            <td>
                                                <input type="text" id="inbound-wrapuptime" name="inbound_wrapuptime" class="form-control-cm">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="panel panel-default">
                                <!-- Default panel contents -->

                                <!-- Table -->
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row"><%= translate("maxlen") %></th>

                                            <td>
                                                <input type="text" id="inbound-maxlen" name="inbound_maxlen" class="form-control-cm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("servicelevel") %></th>
                                            <td>
                                                <input type="text" id="inbound-servicelevel" name="inbound_servicelevel" class="form-control-cm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("strategy") %></th>
                                            <td>
                                                <select name="campaign_strategy" id="campaign-strategy" class="form-control-cm">
                                                    <option value="ringall" selected>ringall</option>
                                                    <option value="rrmemory">rrmemory</option>
                                                    <option value="leastrecent">leastrecent</option>
                                                    <option value="fewestcalls">fewestcalls</option>
                                                    <option value="random">random</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("joinempty") %></th>
                                            <td>
                                                <select name="inbound_joinempty" id="inbound-joinempty" class="form-control-cm">
                                                    <option value="yes" selected>yes</option>
                                                    <option value="no">no</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("ringinuse") %></th>
                                            <td>
                                                <select name="inbound_ringinuse" id="inbound-ringinuse" class="form-control-cm">
                                                    <option value="yes" selected>yes</option>
                                                    <option value="no">no</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="descriptionRow" class="hide">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Description:</h4>

                            <p id="inbound-description"></p>
                        </div>
                    </div>
                </div>

                <div id="scriptWrapperInbound" class="hide">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Script:</h4>

                            <textarea id="task-comment" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class"row">
                    <div class="col-md-6">
                        <button id="close-inbound-btn" class="btn btn-lg btn-danger btn-block cancel-button-taskmodal" type="button"><%= translate("cancel") %></button>
                    </div>
                    <div class="col-md-6">
                        <button id="create-inbound-btn" class="btn btn-lg btn-primary btn-block update-button-taskmodal" type="submit"><%= translate("create") %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- task Modal popup -->
<div class="modal fade" id="outboundCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><%= translate("newOutboundCampaign") %></h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#createOutboundCampaignSettings" role="tab" data-toggle="tab">
                            <icon class="fa fa-user"></icon> Settings
                        </a>
                    </li>
                    <li>
                        <a href="#createOutboundCampaignQueries" role="tab" data-toggle="tab">
                            <icon class="fa fa-user"></icon> Queries
                        </a>
                    </li>
                    <li id="createOutboundCampaignFilters" class="hide">
                        <a href="#childrenInfo" role="tab" data-toggle="tab">
                            <i class="fa fa-envelope"></i> Children Info
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="createOutboundCampaignSettings">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row"><%= translate("attendees") %></th>
                                            <td>
                                                <select id="create-outbound-campaign-attendees" class="form-control-cm">
                                                    <option value="">-- SELECT --</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("timeBetweenCalls") %></th>
                                            <td>
                                                <select id="create-outbound-campaign-time-between-calls-hours" class="form-control-cm">
                                                    <option value="">-- SELECT --</option>
                                                </select>
                                                <p>hours</p>
                                                <select id="create-outbound-campaign-time-between-calls-minutes" class="form-control-cm">
                                                    <option value="">-- SELECT --</option>
                                                </select>
                                                <p>minutes</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("defaultScript") %></th>
                                            <td>
                                                <textarea id="create-outbound-campaign-default-script" rows="5"></textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row"><%= translate("callerId") %></th>
                                            <td>
                                                <input type="text" id="create-outbound-campaign-callerid" name="agent_first_name" class="form-control-cm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("agentTimeBetweenCalls") %></th>
                                            <td>
                                                <select id="create-outbound-campaign-agent-time-between-calls-hours" class="form-control-cm">
                                                    <option value="">-- SELECT --</option>
                                                </select>
                                                <p>hours</p>
                                                <select id="create-outbound-campaign-agent-time-between-calls-minutes" class="form-control-cm">
                                                    <option value="">-- SELECT --</option>
                                                </select>
                                                <p>minutes</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><%= translate("description") %></th>
                                            <td>
                                                <textarea id="create-outbound-campaign-description" rows="5"></textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="createOutboundCampaignQueries">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Local Settings</h3>
                                <div class="panel panel-default">
                                    <p>The campaign will not dial outside of these hours, based on the timezone assiciated with the contacts, area code and prefix.</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="transfer_digit"><%= translate("from") %></label>
                                                <select class="form-control-cm" id="transfer_digit" name="transfer_digit">
                                                    <option value="8a">8:00 AM</option>
                                                    <option value="9a" selected>9:00 AM</option>
                                                    <option value="10a">10:00 AM</option>
                                                    <option value="11a">11:00 AM</option>
                                                    <option value="12a">12:00 AM</option>
                                                    <option value="1p">1:00 PM</option>
                                                    <option value="2p">2:00 PM</option>
                                                    <option value="3p">3:00 PM</option>
                                                    <option value="4p">4:00 PM</option>
                                                    <option value="5p">5:00 PM</option>
                                                    <option value="6p">6:00 PM</option>
                                                    <option value="7p">7:00 PM</option>
                                                    <option value="8p">8:00 PM</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="transfer_digit"><%= translate("to") %></label>
                                                <select class="form-control-cm" id="transfer_digit" name="transfer_digit">
                                                    <option value="1p">1:00 PM</option>
                                                    <option value="2p">2:00 PM</option>
                                                    <option value="3p">3:00 PM</option>
                                                    <option value="4p">4:00 PM</option>
                                                    <option value="5p selected">5:00 PM</option>
                                                    <option value="6p">6:00 PM</option>
                                                    <option value="7p">7:00 PM</option>
                                                    <option value="8p">8:00 PM</option>
                                                    <option value="9p">9:00 PM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <div class"row">
                    <div class="col-md-6">
                        <button id="close-outbound-btn" class="btn btn-lg btn-danger btn-block" type="button"><%= translate("cancel") %></button>
                    </div>
                    <div class="col-md-6">
                        <button id="create-outbound-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("create") %></button>
                    </div>
                </div> -->
                <!-- <div id="nextButtonCombo">
                    <div class"row">
                        <div class="col-md-6">
                            <button id="close-outbound-btn" class="btn btn-lg btn-danger btn-block cancel-button-taskmodal" type="button"><%= translate("cancel") %></button>
                        </div>
                        <div class="col-md-6">
                            <button id="next-outbound-btn" class="btn btn-lg btn-primary btn-block update-button-taskmodal" type="submit"><%= translate("next") %></button>
                        </div>
                    </div>
                </div> -->

                <!-- <div id="backButtonCombo" class="hide"> -->
                <div id="backButtonCombo">
                    <div class"row">
                        <div class="col-md-6">
                            <button id="close-outbound-btn" class="btn btn-lg btn-danger btn-block cancel-button-taskmodal" type="button"><%= translate("cancel") %></button>
                        </div>
                        <!-- <div class="col-md-4">
                            <button id="back-outbound-btn" class="btn btn-lg btn-primary btn-block update-button-taskmodal" type="submit"><%= translate("back") %></button>
                        </div> -->
                        <div class="col-md-6">
                            <button id="create-outbound-btn" class="btn btn-lg btn-primary btn-block update-button-taskmodal" type="submit"><%= translate("create") %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- task Modal popup -->
<div class="modal fade" id="campaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title" id="myModalLabel"><%= translate("campaignDetails") %></h4>
            </div>
            <div class="modal-body">

                <p>Shows the setup of your inbound campaign for your workforce, contacts and customers.</p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><%= translate("uuid") %></th>
                                        <td id="inbound-campaign-uuid"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("account") %></th>
                                        <td id="inbound-campaign-account"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("name") %></th>
                                        <td id="inbound-campaign-name"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("callerid") %></th>
                                        <td>
                                            <input type="text" id="inbound-campaign-callerid" name="campaign_callerid" class="form-control-cm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("maxLen") %></th>
                                        <td>
                                            <input type="text" id="inbound-campaign-max-len" name="campaign_maxlen" class="form-control-cm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("retry") %></th>
                                        <td>
                                            <input type="text" id="inbound-campaign-retry" name="campaign_retry" class="form-control-cm">
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("serviceLevel") %></th>
                                        <td>
                                            <input type="text" id="inbound-campaign-service-level" name="campaign_service_level" class="form-control-cm">
                                        </td>
                                    </tr>
                                    <tr>
                                       <th scope="row"><%= translate("strategy") %></th>
                                        <td>
                                            <div class="btn-group ">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                                    <span id="inbound-campaign-strategy" data-label-placement=""></span> 
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <input type="radio" id="campaign_strategy_ringall" name="campaign_strategy" value="ringall">
                                                        <label for="campaign_strategy_ringall">ringall</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="campaign_strategy_rrmemory" name="campaign_strategy" value="rrmemory">
                                                        <label for="campaign_strategy_rrmemory">rrmemory</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="campaign_strategy_leastrecent" name="campaign_strategy" value="leastrecent">
                                                        <label for="campaign_strategy_leastrecent">leastrecent</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="campaign_strategy_fewestcalls" name="campaign_strategy" value="fewestcalls">
                                                        <label for="campaign_strategy_fewestcalls">fewestcalls</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="campaign_strategy_random" name="campaign_strategy" value="random">
                                                        <label for="campaign_strategy_random">random</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("timeOut") %></th>
                                        <td>
                                            <input type="text" id="inbound-campaign-time-out" name="campaign_time_out" class="form-control-cm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("wrapuptime") %></th>
                                        <td>
                                            <input type="text" id="inbound-campaign-wrap-up-time" name="campaign_wrap_up_time" class="form-control-cm">
                                        </td>
                                    </tr>
                                
                                    <tr>
                                        <th scope="row"><%= translate("status") %></th>
                                        <td>
                                            <div class="btn-group ">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                                    <span id="inbound-campaign-status" data-label-placement=""></span> 
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <input type="radio" id="inbound_campaign_status_inactive" name="inbound_campaign_status" value="inactive">
                                                        <label for="inbound_campaign_status_inactive">inactive</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="inbound_campaign_status_active" name="inbound_campaign_status" value="active">
                                                        <label for="inbound_campaign_status_active">active</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4>

                        <p id="inbound-campaign-description"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>History:</h4>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class"row">
                    <div class="col-md-6">
                        <button id="close-inbound-campaign-btn" class="btn btn-lg btn-danger btn-block cancel-button-taskmodal" type="button"><%= translate("cancel") %></button>
                    </div>
                    <div class="col-md-6">
                        <button id="update-inbound-campaign-btn" class="btn btn-lg btn-primary btn-block update-button-taskmodal" type="submit"><%= translate("update") %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>