<div class="col-md-12">
    <div class="panel panel-default panel-full-width">
         <div class="panel-heading">
              <h3 class="panel-title"><%= translate("addContact") %></h3>
         </div>
         <div class="panel-body">

              <div class="row">
                    <div class="col-md-12 text-center">
                         <span class="fa-stack fa-4x panel-icons">
                              <i class="fa fa-circle-thin fa-stack-2x"></i>
                              <i class="fa fa-user fa-stack-1x"></i>
                         </span>
                    </div>
              </div>
              <div class="row">
                    <div class="col-md-12">
                         <form id="add-contact-form" novalidate="novalidate">
                              <div class="form-group">
                                    <label for="contact_first_name"><%= translate("firstName") %></label>
                                    <input type="text" id="contact_first_name" name="contact_first_name" class="form-control-cm">
                              </div>
                              <div class="form-group">
                                    <label for="contact_last_name"><%= translate("lastName") %></label>
                                    <input type="text" id="contact_last_name" name="contact_last_name" class="form-control-cm">
                              </div>
                              <div class="form-group">
                                    <label for="contact_phone"><%= translate("phoneNumber") %></label>
                                    <input type="tel" id="new-phone-number" name="contact_phone_number" class="form-control-cm">
                              </div>
                              <div class="form-group">
                                    <label for="contact_email"><%= translate("email") %></label>
                                    <input type="tel" id="new-email" name="contact_email" class="form-control-cm">
                              </div>
                         </form>
                    </div>
              </div>
              <div class="panel-footer">
                    <button id="add-contact-btn" class="btn btn-success btn-block" type="submit"><%= translate("addContact") %></button>
              </div>
         </div>
    </div>
</div>