<ul class="nav nav-pills pull-right">
    <li><a href="#monitors"><%= translate("monitor") %></a></li>
    <li><a href="#recordings"><%= translate("recordings") %></a></li>
    <li>
        <div id="break-dropdown" class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                
                <span data-label-placement=""><%= translate("active") %></span>
                <span class="caret"></span>
            </button>
            <ul id="break-list-ul" class="dropdown-menu">
                <li>
                    <input type="radio" id="current_break_3" name="current_break" value="3" checked="">
                    <label for="current_break_3"><%= translate("active") %></label>
                </li>
                <li>
                    <input type="radio" id="current_break_0" name="current_break" value="0">
                    <label for="current_break_0"><i class="fa fa-coffee fa-fw"></i> <%= translate("takeAbreak") %></label>
                </li>
                <li>
                    <input type="radio" id="current_break_1" name="current_break" value="1">
                    <label for="current_break_1">Lunch</label>
                </li>
                
            </ul>
        </div>
    </li>    
</ul>