<div class="container">

    <div class="row">
        <div id="signin-alert" class="alert alert-danger alert-dismissible hide" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">
                    <%= translate("Close") %>
                </span>
            </button>
            <p></p>
        </div>
    </div>

<div class="container">
        <div class="col-md-6">
            <img src="/static/img/welcome-01-01.png" class="img-responsive spartan-login-logo">
        </div>

    <div class="row margin-signin">
        <div class="col-md-6 spartan-login-wrapper-form">
            <form class="form-signin">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Sign In</h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control-cm" id="username" placeholder='<%= translate("yourAccount") %>'>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                            <input type="password" class="form-control-cm" id="password" placeholder="<%= translate("Password") %>">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <button id="login-btn" class="btn btn-lg btn-signin-sparta btn-block" type="submit"><%= translate("signIn") %></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    

</div>
