<tr>
    <td><%= first_name %></td>
    <td><%= last_name %></td>
    <td><%= email %></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-phone call-number-popup"></i> <%= phone_number %></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-eye view-contact-popup"></i></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-pencil edit-contact-popup"></i></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-trash delete-contact-pupup"></i></td>
</tr>