<tr>
    <td><%= contact_info_first_name %></td>
    <td><%= contact_info_last_name %></td>
    <td><%= contact_info_email %></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-phone call-number-popup"></i> <%= contact_info_phone %></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-eye view-contact-popup"></i></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-pencil edit-contact-popup"></i></td>
    <td><i href="javascript:;" data-name="<%= uuid %>" class="fa fa-trash delete-contact-pupup"></i></td>
</tr>