<div class="col-md-4">
    <h3 id="fake-modal-n-stuff"><%= translate("summary") %></h3>

    <table class="table stat-table table-striped">
        <tbody>
            <tr>
                <th><%= translate("records") %></th>
                <td id="ws-test-btn" class="value"><%= records %></td>
            </tr>
            <tr>
                <th><%= translate("minutes") %></th>
                <td class="value"><%= minutes %></td>
            </tr>
            <tr>
                <th><%= translate("durationAverage") %></th>
                <td class="value"><%= record_avg %></td>
            </tr>
            <tr>
                <th><%= translate("total") %></th>
                <td class="value">$<%= billing %></td>
            </tr>
        </tbody>
    </table>
</div>
